:root{
  --bg:#fff;
  --fg:#000;
  --black:#000;
  --white:#fff;
  --grey:#ddd;
  --border-radius:4px;
  --box-shadow-sm: 0 1px 4px rgba(12,12,13,0.1);
  --box-shadow-md: 0 2px 8px rgba(12,12,13,0.1);
  --font:sans-serif;
}

body{
  background: var(--bg);
}


.button{
    appearance: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    line-height: 38px;
    white-space: nowrap;
    font-weight: 500;
    font-family: var(--font);
    min-width: auto;
    height: 40px;
    padding: 0 25px 0 25px;
    border-radius: var(--border-radius);
    font-size: 0.875rem;
    flex-shrink: 0;
    margin: 0;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);
    transition: all 0.2s ease;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-sizing: border-box;
}

.button:hover{
  background:transparent;
  color:var(--black);
}

.button:disabled{
  background: var(--grey);
  border-color: #999;
  cursor: not-allowed;
  color:#999;
}


.button.secondary{
  background:var(--white);
  border-color: #999;
  color:#999;
}

.button.secondary:hover{
  background:transparent;
  color:var(--black);
  border-color: var(--black);
}

input[type="file"]{
  display:none;
}


